<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--primary collapsible__chevron">
            <use xlink:href="/Resources/icons/sprite.svg#settings"></use>
        </svg>
<!-- there's an issue with my icon--white not displaying on white background-->
    </header>
    <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </div>
</div>
<script src="/coll.js"></script>