<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to keep Growing</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, necessitatibus.</p>
    </header>
<!-- article1 -->
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="/Resources/icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ipsam enim, accusantium deserunt tempore distinctio dolorum nesciunt hic.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source 
            type="image/webp" 
            srcset="Resources/images/easy.webp 1x, Resources/images/easy@2x.webp 2x" 
            >

            <source 
            type="image/jpg" 
            srcset="Resources/images/easy.jpg 1x, Resources/images/easy@2x.jpg 2x"
            >

            <img class="feature__image" src="/Resources/images/easy.jpg" alt="">
        </picture>
        
    </article>
<!-- article2 -->
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="/Resources/icons/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ipsam enim, accusantium deserunt tempore distinctio dolorum nesciunt hic.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source 
            type="image/webp" 
            srcset="Resources/images/fast.webp 1x, Resources/images/fast@2x.webp 2x" 
            >

            <source 
            type="image/jpg" 
            srcset="Resources/images/fast.jpg 1x, Resources/images/fast@2x.jpg 2x"
            >

            <img class="feature__image" src="/Resources/images/fast.jpg" alt="">
        </picture>
    </article>
<!-- article3 -->
    <article class="grid grid--1x2 feature">
        <div class="feature__content>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="/Resources/icons/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Wordpress Made Easy</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ipsam enim, accusantium deserunt tempore distinctio dolorum nesciunt hic.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source 
            type="image/webp" 
            srcset="Resources/images/wordpress.webp 1x, Resources/images/wordpress@2x.webp 2x" 
            >

            <source 
            type="image/jpg" 
            srcset="Resources/images/wordpress.jpg 1x, Resources/images/wordpress@2x.jpg 2x"
            >

            <img class="feature__image" src="/Resources/images/wordpress.jpg" alt="">
        </picture>
    </article>
<!-- article4 -->
    <!-- <article class="grid grid--1x2 feature">
        <div class="feature__content>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="/Resources/icons/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="feature__heading">24/7 Expert Group</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ipsam enim, accusantium deserunt tempore distinctio dolorum nesciunt hic.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>

        <picture>
            <source
            type="image/webp"
            srcset="Resources/images/support.webp 1x, Resources/images/support@2x.webp 2x"
            >

            <source 
            type="image/jpg"
            srcset="Resources/images/support.jpg 1x, Resources/images/support@2x.jpg 2x"
            >

            <img class="feature__image" src="/Resources/images/support.jpg" alt="">
        </picture> -->

    </article>
</section>